.bookmark {
  justify-content: center; }

.link-wrapper {
  width: 100%; }

.link {
  width: 100%;
  max-width: 200px; }

.Collection .title .icon {
  vertical-align: top; }

.Main {
  min-height: 80vh; }

.Footer {
  padding: 3rem 1.5rem; }
