.my-notification {
  position: fixed;
  z-index: 1000;
  width: 350px;

  &.topRight {
    top: 1.5em;
    right: 1.5em;
  }
  &.topLeft {
    top: 1.5em;
    left: 1.5em;
  }
  &.bottomRight {
    bottom: 1.5em;
    right: 1.5em;
  }
  &.bottomLeft {
    bottom: 1.5em;
    left: 1.5em;
  }
}

.my-notification-notice {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 0 solid rgba(0, 0, 0, 0);
  background: #fff;
  display: block;
  width: auto;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  margin-bottom: 0.5em;
}
