.my-notification {
  position: fixed;
  z-index: 1000;

  &.topRight {
    width: 350px;
    top: 1em;
    right: 1em;
  }
}

.my-notification-notice {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 0 solid rgba(0, 0, 0, 0);
  background: #fff;
  display: block;
  width: auto;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  margin: 10px 0;
}
